/* variables */

$main-text-color: #3D3D3D;
$other-color: #6D6D6D;

body {
	color: $main-text-color;
	background-color: $other-color;}

p {
  color: $main-text-color; }

h2 {
   background-color: $other-color; }

